<div class="course-item-wrapper">
  <img [src]="logoUrl"
       alt="png" width="120" height="120" style="border-radius: 10px;">
  <p class="underimage-text">{{Author}}</p>
  <p class="course-main-text" (click)="navigate()">
    {{this.name}}
  </p>
  <div class="course-item-bottom">
    <div>
      <img src="https://i.ibb.co/pnvzyXf/man.jpg" alt="human" width="20" height="20">
      {{this.price}} $
    </div>
    <div>
      <span class="course-promo-widget__stats-icon">★</span>
      4.4
    </div>
  </div>
</div>
