<div class="course-item-wrapper">
  <img src="https://stepik.org/media/cache/images/courses/9182/cover_lljvATo/3ed0232e55088cceff474efc1cfa48c0.png"
       alt="png" width="120" height="120" style="border-radius: 10px;">
  <p class="underimage-text">Author of course</p>
  <p class="course-main-text">
    Course name
  </p>
  <div class="course-item-bottom">
    <div>
      <img src="https://i.ibb.co/pnvzyXf/man.jpg" alt="human" width="20" height="20">
      4300
    </div>
    <div>
      <span class="course-promo-widget__stats-icon">★</span>
      4.4
    </div>
  </div>
</div>
