<header>
  <div class="navbar-wrapper">
    <div class="navbar-head">
      eLearnity
      <div class="navbar-button">
        Каталог
      </div>
    </div>
    <div class="navbar-links">
      <div class="navbar-button" (click)="openModal()">
        Регистрация
      </div>
      <div class="navbar-button navbar-signin">
        Войти
      </div>
    </div>
  </div>
</header>

<div id="openModal" class="modal" #modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Название</h3>
        <a (click)="closeModal()" title="Close" class="close">×</a>
      </div>
      <div class="modal-body">
        <p>Содержимое модального окна...</p>
      </div>
    </div>
  </div>
</div>
