<div class="catalog-header">
  <div class="page-fragment">
    <div class="flex-row">
      <div class="search__wrapper col-xs-12 col-md-8">
          <div class="search-box">
            <input type="text" class="catalog-input col-9" placeholder="Поиск по каталогу">
            <button class="col-3 catalog-button">Поиск</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="catalog-filter-wrapper">
  <div class="catalog-filter col-4">
      <div class="catalog-filter-holder">
        <p class="catalog-filter__text col-mod-2">Фильтр по:</p>
        <div class="selectpicker-holder">
          <div class="catalog-filter__selectpicker">
            Предмет
          </div>
          <div class="catalog-filter__selectpicker">
            Категории
          </div>
          <div class="catalog-filter__selectpicker">
            Автор
          </div>
          <div class="catalog-filter__selectpicker">
            Язык
          </div>
        </div>
    </div>
  </div>
</div>

<div class="catalog-content-wrapper">
  <div class="catalog-content">
    <p class="new-courses-text">
      Новые курсы:
    </p>
    <div class="courses-list">
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
      <app-course-item></app-course-item>
    </div>
  </div>
</div>
